[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
common = {editable = true, path = "src/common"}
aws-xray-sdk = "*"

[dev-packages]
flake8 = "*"
moto = {extras = ["all"], version = "*"}
mypy = "*"
boto3-stubs = { extras = ["dynamodb", "lambda", "kinesis", "s3", "sns", "sqs", "ssm", "xray" ], version = "*"}
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-pylint = "*"
tox = "*"

[scripts]
#install-lambda-functions = "pipenv install -r src/requirements.txt"
test = "pytest --cov src --cov-report term-missing --cov-fail-under 95 tests/unit"
flake8 = "flake8"
lint = "pylint"

